@page "/paymentconfirmation"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject UserInfo User
<div>
<h1>Please check you input the right details:</h1>
<br>
<br>
<ul>
<p>TV Licence Reference Number: @User.LicenceNumber</p>
</ul>
<ul>
<p>Surname: @User.UserSurname</p>
</ul>
<ul>
<p>Postcode: @User.UserPostcode</p>
</ul>
<ul>
<p>Name on Card: @User.CardName</p>
</ul>
<ul>
<p>Card Number: @User.CardNumber</p>
</ul>
<ul>
<p>Email Address: @User.BillingEmail</p>
</ul>




    <button class="govuk-button" @onclick=@Navigate>Pay</button>
</div>

@code {
void Navigate()
{



    UriHelper.NavigateTo("paymentreceipt");
}
}
