@page "/paymentconfirmation"
@inject NavigationManager UriHelper
@using TvLicenceProject.Data
@inject UserInfo User
<div class='govuk-width-container '>
    <br>
    <h1>Please check you input the right details:</h1>
    <br>
    <br>
    
    <p>TV Licence Reference Number: @User.LicenceNumber</p>
   
 
    <p>Surname: @User.UserSurname</p>
    
   
    <p>Postcode: @User.UserPostcode</p>


    <p>Name on Card: @User.CardName</p>
  
    
    <p>Card Number: @User.CardNumber</p>


    <p>Email Address: @User.BillingEmail</p>
 



    <button class="govuk-button" @onclick=@Navigate>Pay</button>
</div>

@code {
void Navigate()
{



    UriHelper.NavigateTo("paymentreceipt");
}
}
